.validation-summary-errors, .field-validation-error {
    color: #f14668;
}

.flex-align-items-start {
    align-items: start !important;
}

body {
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

main {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

footer {
    min-height: 35px;
}

main {
    flex: 1;
}