table.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    table.table thead {
        border-bottom: 1px solid black;
    }

        table.table thead th,
        table.table tbody td {
            text-align: left;
            padding: 15px;
        }

    table.table.striped tbody tr:nth-child(2n) {
        background-color: orange;
    }

        table.table tbody tr:hover,
        table.table.striped tbody tr:nth-child(2n):hover {
            background-color: lightgray;
        }
